.super-mario{
    position: absolute;
    width: 300px;
    left: 300px;
}

.goomba{
    position: absolute;
    width: 200px;
    bottom: 50px;
    left: 400px;
}

.baloon{
    position: absolute;
    left: 1650px;
    z-index: 1;
}
.word{
    position: absolute;
    z-index: 2;
    left: 1720px;
    margin-top: 40px;
}

.bowser{
     position: absolute;
     width: 500px;
     right: 10px;
}